<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <base th:href="@{/}">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>Comments/Admin - Books & Bookshelves</title>
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<link rel="stylesheet" href="css/commStyle.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  
 
</head>
<!-- body -->

<body class="asd">

					
		                <div class="comment_box" id="comment_box" name="comment_box" >
		                    <h3>Comments / Admin:</h3>
		                    
		                    <table class="komentari1" id="komentari">
							
							<tr>
								<td>
									<ul>
										
									</ul >
									</td>
								</tr>
								
							</table>
							
							
							<br>
							<br>
							<caption>Admin/Comments - Books & Bookshelves</caption>
		                
		
		
		                   </div>
		
    <!-- Javascript files-->
    
    

    <script src="js/jquery.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
    
    
    <script src="js/commentsAdmin.js" type="text/javascript"></script>
    
   
</body>


</html>