<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile User - Admin</title>
</head>
<body>
	
		<div>Username of User:</div>
		<span th:text="${user.username}"></span>
		<br>
		<span th:text="${user.name}"></span>
		<br>
		<span th:text="${user.lastname}"></span>
		<br>
		<span th:text="${user.email}"></span>
		<br>
		<span th:text="${user.address}"></span>
		<br>
		<span th:text="${user.phoneNumber}"></span>
		<br>
		<span th:text="${user.gender}"></span>
		<br>
		<span th:text="${#temporals.format(user.dateOfBirth, 'dd//MM//yyyy')}"></span>
		<br>
		
		<p>------------------------------------</p>
		<br>
		<br>
		<br>
		<br>
		
	
	<!-- <form method="post" action="Users/Edit" >
	
	<input type="text" name="username" th:value="${user.username}" readonly/>
	<br>
	<br>
	<br>
	<br>
	
		<span>Change Role:</span> 
			
			<select  name="administrator">
			    <option name="administrator" th:value="1" >Administrator</option>
			    <option name="administrator" th:value="0" >User</option>
			</select> 
				
		<br>
		<br>
		<br>
		<br>	
				
	 <input type="checkbox" name="block" value="true">
	 
	 <input type="text" name="block" value="true">
	 
	  <label for="blok"> Block the User</label>
	  
	  <br><br>
	  <br>
	  
	  <input type="submit" value="Submit">
		
		
	</form> -->

</body>
</html>