<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile User - Admin</title>
</head>
<body>
	
		<div>Username of User:</div>
		<span th:text="${user.username}"></span>
		<br>
		<span th:text="${user.name}"></span>
		<br>
		<span th:text="${user.lastname}"></span>
		<br>
		<span th:text="${user.email}"></span>
		<br>
		<span th:text="${user.address}"></span>
		<br>
		<span th:text="${user.phoneNumber}"></span>
		<br>
		<span th:text="${user.gender}"></span>
		<br>
		<span th:text="${#temporals.format(user.dateOfBirth, 'dd//MM//yyyy')}"></span>
		<br>
		
		
		<p>------------------------------------</p>
		
		<a href="#">Prikaz svih usera</a>
		
		<br>
		<br>
		<br>
		<br>

</body>
</html>