<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <base th:href="@{/}">
<title>Wish List - Books & Bookshelves</title>
</head>
<body>






	<div class="tabela" th:if="${session.loggedInUser != null }">
			<span>All Books In Wish List</span>
			

			<ul>
			<li th:each="itCart, status: ${shoppingCart}">
			
				<span class="broj" th:text="${status.index + 1}"></span>
				&nbsp;&nbsp;
			
			<form method="post" action="WishList/Remove">
				
				<input class="broj" th:value="${itCart.id}" name="cartId" type="hidden"/>
				&nbsp;&nbsp; -->
					
					<button type="submit">Remove Book from Cart</button>
					
					<input class="broj" th:value="${session.loggedInUser.username}" name="username" type="hidden"/>
				&nbsp;&nbsp;
				
			</form>
				<input class="broj" th:value="${itCart.book.id}" name="id" type="hidden"/>
				&nbsp;&nbsp;
			
				
				<!-- <td><a th:href="|Projekcije/Details?id=${itKarta.projekcija.id}|" th:text="${#temporals.format(itKarta.projekcija.datumIVreme, 'dd.MM.yyy . HH:mm')}"></a></td>
				
				<td><a th:href="|Filmovi/Details?id=${itKarta.projekcija.film.id}|" th:text="${itKarta.projekcija.film.naziv}"></a></td>
				 -->
			
				
				<span class="broj" th:text="${itCart.book.name}"><a href="|books/Details?id=${itBook.id}|"  th:text="${itBook.name}" ></a></span>
				&nbsp;&nbsp;
				
			
				<span class="broj" th:text="|${itCart.book.price} rsd|" ></span>
				&nbsp;&nbsp;
			
				
				
				
			</li>
			</ul>
			
		</div>
		
	
		
		
		
		<!-- <form method="post" action="ShoppingCart/Remove" >
		
		<div   th:unless="${session.choosenBooksForUser.empty}" id="dataTable" >
	
    	
				<ul>
					
			
					<li name="line_items" th:each="itBook: ${session.choosenBooksForUser}">
					
					<span> Do you want do remove this book?</span>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<span>Name of book:<a th:href="|books/Details?id=${itBook.id}|" th:text="${itBook.name}" name="name"></a></span>
				
					<span><input type="hidden" th:value="${itBook.id}" name="id"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					
					<button type="submit">Remove Book from Cart</button>
					<br>
					<br>
					</li>
				
					
				 </ul>
		
				<td><input type="text" name="total" value="" jAutoCalc="SUM({item_total})"></td>
			
			<b name="totalPrice" class="totalPrice"  id="totalPrice" th:text="${#aggregates.sum(session.choosenBooksForUser.![price])}"></b>
			
				
		</div>
		
		
		</form> -->

</body>
</html>