<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <base th:href="@{/}">
<title>Wish List - Books & Bookshelves</title>
</head>
<body>






	<div class="tabela" th:if="${session.loggedInUser != null }">
			<span>My Wish list</span>
			

			<ul>
			<li th:each="itCart, status: ${shoppingCart}">
			
				<span class="broj" th:text="${status.index + 1}"></span>
				&nbsp;&nbsp;
			
			<form method="post" action="WishList/Remove">
				
				<input class="broj" th:value="${itCart.id}" name="cartId" type="hidden"/>
				&nbsp;&nbsp; -->
					
					<button type="submit">Remove Book from Cart</button>
					
					<input class="broj" th:value="${session.loggedInUser.username}" name="username" type="hidden"/>
				&nbsp;&nbsp;
				
			</form>
				<input class="broj" th:value="${itCart.book.id}" name="id" type="hidden"/>
				&nbsp;&nbsp;
		
			
				
				<span class="broj" th:text="${itCart.book.name}"><a href="|books/Details?id=${itBook.id}|"  th:text="${itBook.name}" ></a></span>
				&nbsp;&nbsp;
				
			
				<span class="broj" th:text="|${itCart.book.price} rsd|" ></span>
				&nbsp;&nbsp;
			
				
				
				
			</li>
			</ul>
			
		</div>
		
		<a href="books">All books</a>

</body>
</html>